In [126]:
# system imports
import os
import sys
import asyncio
sys.path.append(os.path.abspath('..'))# add parent directory to path

In [127]:
from importlib import reload
import scripts.data_load_clean_transform
reload(scripts.data_load_clean_transform)
from scripts.data_load_clean_transform import DataLoader, DataCleaner

In [128]:
# Load CSV
file_path = '../week 7 data/scrapped TG data/telegram_data.csv'
Loader = DataLoader(file_path)
data = Loader.load_csv()

2025-01-31 13:59:35,174 - INFO - Data successfully loaded from ../week 7 data/scrapped TG data/telegram_data.csv
2025-01-31 13:59:35,174 - INFO - DataFrame Shape: (3635, 6)

In [129]:
data.head(2)

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,CheMed,@CheMed123,97,"⚠️Notice!\nDear esteemed customers,\nDue to fo...",2023-02-10 12:23:06+00:00,../week 7 data/scrapped TG data/photos\@CheMed...
1,CheMed,@CheMed123,96,Mela-One በውስጡ ሆርሞን ያለው ድንገተኛ ወሊድ መቆጣጠርያ ሲሆን ያለ...,2023-02-02 08:58:52+00:00,../week 7 data/scrapped TG data/photos\@CheMed...

In [130]:
# Instantiate Data Cleaner object
cleaner = DataCleaner(data)

In [131]:
# remove New lines
cleaner.remove_new_lines('Message')

2025-01-31 13:59:43,878 - INFO - Removing new lines from column: Message.

2025-01-31 13:59:43,907 - INFO - New lines removed from column: Message.

In [132]:
# Convert Date and Time
cleaner.transform_datetime('Date', None)

2025-01-31 13:59:46,048 - INFO - Transforming datetime column 'Date' to timezone 'None'.
2025-01-31 13:59:46,052 - INFO - Datetime transformation for column 'Date' completed.

In [133]:
# convet Id to intiger
cleaner.convert_column_to_integer('ID')

2025-01-31 13:59:48,198 - INFO - Converting column 'ID' to integer.
2025-01-31 13:59:48,200 - INFO - Column 'ID' successfully converted to integer.

In [134]:
cleaner.extract_youtube_links(source_column = 'Message', new_column='Youtube Links')

2025-01-31 13:59:50,901 - INFO - Extracting YouTube links from column 'Message' to 'Youtube Links'.
2025-01-31 13:59:50,905 - INFO - YouTube links extracted and stored in column 'Youtube Links'.

In [135]:
# Fill null values with 'no {column}' text
cleaner.fill_null_values(columns=['Message', 'Media Path', 'Youtube Links'])

2025-01-31 13:59:54,329 - INFO - Filling null values in columns: ['Message', 'Media Path', 'Youtube Links'].
2025-01-31 13:59:54,333 - INFO - Found 0 NaN and 502 'nan' strings in 'Message', replacing them.
2025-01-31 13:59:54,333 - INFO - Successfully replaced missing values in 'Message'.
2025-01-31 13:59:54,351 - INFO - Found 769 NaN and 769 'nan' strings in 'Media Path', replacing them.
2025-01-31 13:59:54,357 - INFO - Successfully replaced missing values in 'Media Path'.
2025-01-31 13:59:54,361 - INFO - Found 3629 NaN and 3629 'nan' strings in 'Youtube Links', replacing them.
2025-01-31 13:59:54,367 - INFO - Successfully replaced missing values in 'Youtube Links'.

In [136]:
# remove emojies
cleaner.remove_emojis('Message')

2025-01-31 14:00:05,006 - INFO - Removing emojis from column: Message.
2025-01-31 14:00:05,080 - INFO - Emojis removed from column: Message.

In [138]:
data.head(2)

,Channel Title,Channel Username,ID,Message,Date,Media Path,Youtube Links
0,CheMed,@CheMed123,97,"Notice! Dear esteemed customers, Due to four-d...",2023-02-10 12:23:06,../week 7 data/scrapped TG data/photos\@CheMed...,no Youtube Links values
1,CheMed,@CheMed123,96,Mela-One በውስጡ ሆርሞን ያለው ድንገተኛ ወሊድ መቆጣጠርያ ሲሆን ያለ...,2023-02-02 08:58:52,../week 7 data/scrapped TG data/photos\@CheMed...,no Youtube Links values

In [139]:
# standardize columns to lowercase and replace newlines by underscore
cleaner.standardize_column_names()
data.columns

2025-01-31 14:00:43,998 - INFO - Standardizing column names.
2025-01-31 14:00:43,999 - INFO - Column names standardized successfully.

Index(['channel_title', 'channel_username', 'id', 'message', 'date',
       'media_path', 'youtube_links'],
      dtype='object')

In [140]:
cleaner.check_missing_values()

2025-01-31 14:00:57,611 - INFO - Checking for missing values in the DataFrame.
2025-01-31 14:00:57,614 - INFO - Missing values check completed.

             Column  Missing Values  Missing Percentage       Data Type
0     channel_title               0                 0.0          object
1  channel_username               0                 0.0          object
2                id               0                 0.0           int32
3           message               0                 0.0          object
4              date               0                 0.0  datetime64[ns]
5        media_path               0                 0.0          object
6     youtube_links               0                 0.0          object

In [141]:
# save dataframe to new csv file keep the utf-8-sig format
data.to_csv('../week 7 data/scrapped TG data/cleaned_scrapped_telegram_data.csv', encoding='utf-8-sig', index=False)